@model SocialNetworkApp.Core.Application.ViewModels.Friendships.SaveFriendshipViewModel

@{

    ViewData["Title"] = "Eliminar amigo";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-black text-light">
                    <h4>Esta Seguro de eliminar este amigo:</h4>

                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Friend" asp-action="DeleteFriend">
                        <div class="alert alert-warning ms-2" role="alert">
                            una vez eliminado, no veras sus publicaciones, ni el/ella las tuyas
                        </div>
                        
                        <div class="mb-2">
                            <label asp-for="Friend.Name" class="form-label">Nombre: </label>
                            <input asp-for="Friend.Name" type="text" class="form-control" readonly />
                        </div>

                        <div class="mb-2">
                            <label asp-for="Friend.LastName" class="form-label">Apellido: </label>
                            <input asp-for="Friend.LastName" type="text" class="form-control" readonly />
                        </div>

                        <div class="mb-2">
                            <label asp-for="FriendUsername" class="form-label">Nombre de usuario: </label>
                            <input asp-for="FriendUsername" type="text" class="form-control" readonly />
                        </div>
                        
                       


                        <input type="hidden" asp-for="Id" name="id" />

                        <div class="mt-4">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a asp-controller="Friend" asp-action="Index" class="btn btn-warning">Volver</a>


                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>