@model SocialNetworkApp.Core.Application.ViewModels.Users.LoginUserViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid ">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-header bg-black text-light">
                    <h4>Iniciar Sesion</h4>

                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Home" asp-action="Index">

                        @if (!string.IsNullOrWhiteSpace(ViewBag.Mensaje))
                        {
                            <div class="alert alert-info" role="alert">
                                <p>@ViewBag.Mensaje</p>
                            </div>

                        }
                        
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        }



                        <div class="mb-2">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" placeholder="Ingrese el nombre de usuario" />

                        </div>

                        <div class="mb-2">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input asp-for="Password" class="form-control" placeholder="Ingrese la contraseña" />

                        </div>


                        <div class="mt-4 text-center">

                            <button type="submit" class="btn btn-primary  w-100">Iniciar Sesion</button>
                            <hr></hr>
                            <div>
                                <a asp-controller="Home" asp-action="Register" class="d-inline-block mb-2">No tienes cuenta? Regístrate!</a>
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="ForgotPassword" class="d-inline-block mb-2">Olvidaste tu contraseña?</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>


